:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --clr-gold: 235 216% 212%;
    --clr-RoseGold: 351 34% 57%;
    --clr-White-Gold: 31 25% 65%;
    --clr-vintage-Red:4 66% 28%;
    --clr-wood-Brown:42 37% 41%;
    --clr-green:145, 63%, 49%;
    
    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*.header{
    width: 100vh;
    height: 72px;
}*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsla(22, 6%, 10%, 1);
    height: 72px;
}
.logo{
    text-decoration: none;
    order: 0;
    justify-self: flex-start;
    font-family: 'Hind', sans-serif;
    font-size: var(--fs-500);
    color:hsl(0, 0%, 100%) !important;
    letter-spacing: 00.875px;
    align-self: center;
}
.menu{
    order: 1;
    justify-self: flex-end;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 24px 0 24px;
    
}
.menu a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Hind', sans-serif;
    font-size: var(--fs-500);
    letter-spacing: 00.875px;
}
.menu a:hover{
    color: hsl(0, 0%, 50%);
}
#work{
    padding: 0 25px 0 25px;
}